default:
    autoload:
        '': '%paths.base%/design'
    suites:
        default:
            paths: [ 'design/Features' ]
            contexts:
                - App\Design\Contexts\DemoContext
    extensions:
        FriendsOfBehat\SymfonyExtension: { }
